[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = federico-garcia86
	email = federico.garcia@alu.inspt.utn.edu.ar
